@model MyClass.Model.Posts
@{
    ViewBag.Title = "PostPage";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<body>
    <!-- ================ start banner area ================= -->

    <section class="details">
        <h1>Giới thiệu</h1>
    </section>
    <style>

        .details {
            text-align: center;
            font-size: 4rem;
            color: #333;
            padding: 1rem;
            margin: 2rem 0;
            background: rgba(255, 95, 175, 0.111);
        }
    </style>
    <!-- ================ end banner area ================= -->
    <!--================Blog Area =================-->

    <style>
        

            .about .row .img-container {
                flex: 1 1 40rem;
                position: relative;
            }

            .about .row .img-container img {
                width: 100%;
                border: 1.5rem solid #fff;
                border-radius: .5rem;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                height: 100%;
                object-fit: cover;
            }

            .about .row .img-container h3 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 3rem;
                background: #fff;
                width: 100%;
                padding: 1rem 2rem;
                text-align: center;
                mix-blend-mode: screen;
            }

            .about .row .content {
                flex: 1 1 40rem;
            }

        .about .row .content h3 {
            font-size: 3rem;
            color: #333;
        }

        .about .row .content p {
            font-size: 1.5rem;
            color: #999;
            padding: 2rem 0;
            padding-top: 1rem;
            line-height: 1.5;
            text-transform: none;
        }

               
    </style>



    <section class="about" id="about">
        <div class="row">
            <div class="col">
                <div class="img-container">
                    <img src="~/Public/img/about.jpg" />
                    <h3>
                        Best Flower Sellers
                    </h3>
                </div>
             </div>
            <div class="col">
                <div class="content">
                    <h3>Why Choose Us ?</h3>
                    <p>Flower Dreams by Sonn đảm bảo chất lượng và sự tươi mới của từng đóa hoa  thông qua việc trồng và chăm sóc bởi những nông dân tận tâm.</p>
                    <p>
                        Khi chọn mua hoa  tại Flower Dreams by Sonn, khách hàng không chỉ được tận hưởng vẻ đẹp của loài hoa này
                        mà còn có thể truyền tải được những thông điệp yêu thương và lời chúc tốt đẹp đến người nhận.
                    </p>
                </div>
            </div>
                
            </div>
</section>

    <!--================Blog Area =================-->
</body>

